name: Run tests and build Docker

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  run-tests-and-docker:
    name: Run tests and Docker build
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Подготовительные шаги
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 2️⃣ Запуск инфраструктуры
      - name: Set up services
        run: cd infra/docker_compose && bash restart_docker.sh && cd ../..

      # 3️⃣ Запуск тестов
      - name: Run tests
        run: ./mvnw clean test -q
        env:
          APIBASEURL: http://localhost:4111
          UIBASEURL: http://frontend

      # 4️⃣ Анализ покрытия API
      - name: Run Swagger coverage
        if: always()
        run: ./.swagger-coverage-commandline/bin/swagger-coverage-commandline -s http://localhost:4111/v3/api-docs -i ./target/swagger-coverage-output

      # 5️⃣ Подготовка истории отчетов
      - name: Load test report history
        uses: actions/checkout@v2
        if: always()
        with:
          ref: gh-pages
          path: gh-pages

      - name: Create allure history directory
        if: always()
        run: mkdir -p allure-history/${{ github.run_number }}

      # 6️⃣ Генерация отчетов
      - name: Build Allure report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_results: target/allure-results
          allure_history: allure-history

      - name: Build Swagger coverage report
        if: always()
        run: cp swagger-coverage-report.html allure-history/${{ github.run_number }}/

      # 7️⃣ Публикация отчетов
      - name: Publish test reports
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      # 8️⃣ Очистка инфраструктуры
      - name: Clean up services
        if: always()
        run: cd infra/docker_compose && docker compose down

      # 9️⃣ Сборка и публикация Docker образа
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: docker build -t ivanzon/autotests:${{ github.sha }} .

      - name: Push Docker image
        run: docker push ivanzon/autotests:${{ github.sha }}